.datos-contribuyente{
    display: flex;
    flex-direction: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
.card-datos {
    box-shadow: 1px 1px 10px grey;
    margin: 5px;
}
.card-datos span{
    padding: 6px 12px;
    font-size: 14px;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
}
.card-datos p{
    padding: 6px 12px;
    font-size: 14px;
    color: black;
    text-align: center;
    background-color: white;
}
table{
    background: white;
    box-shadow: 1px 1px 10px grey   ;
}
.deudaSeleccionada  {
    
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: space-around;
    font-weight: bold;
    border-bottom: 1px solid rgb(179, 175, 175);
    align-items: center;
    align-self: center;
}
.deudaSeleccionada p{
    padding: 6px;
    margin: 0!important;
}
.btn-epagos{
    border: 0;
    color: white;
    font-weight: 500;
    transition: all .3s ease-in;
    background-color:#E40044 ;
    padding: 6px 12px;
    border-radius: 4px;
}
.btn-epagos:hover {
    transform: scale(1.2);
}

