   .header {
     background: url("https://cdn.pixabay.com/photo/2018/10/09/10/01/architecture-3734552_960_720.jpg");
     height: 80vh;
     background-position: center center;
     color: white;
     background-size: cover;
     background-repeat: no-repeat;
     align-items: center;
     font-family: 'Lato', sans-serif;
     position: relative;
   }

   .header::before {
     content: '';
     position: absolute;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     background-color: rgba(0, 0, 0, 0.5);
     backdrop-filter: blur(5px);
   }

   .wrap-title {
     position: relative;
   }


   .elements-cards{
       display: flex;
       justify-content: center;
       position: relative;
       bottom: -3%;
       width: 100%;
       align-items: center;
       text-align: center;
   }
   .ele-card{
    background-color: #E40044;
    border-radius: 4px;   
    margin-right:  20px;
    color: white;
    width: 200px ;
    font-weight: bold;
    padding: 6px;
   }
   p{
       margin: 0!important;
   }
   .logo-epagos{
       position: absolute;
       width: 400px;
       height: 400px;
       left: 0%;
       top: 0%;
   }