<div class="jumbotron bg-cover header">
  <div class="conteiner conteiner-fluid wrap-title">
    <div class=" py-5 text-center ">
      <h1 class="font-weight-bold  display-2">Gestion Tributaria </h1>
      <p class="font-italic ">Portal de gestion de ejemplo para mostrar a los organismos el uso del boton de pagos</p>
    </div>
  </div>
  <div class="container elements-cards">
    <a class="ele-card">
      <p> <i class="fas fa-credit-card"></i>Boton e-CheckPut</p>
    </a>
    <a class="ele-card">
      <p> <i class="fas fa-fighter-jet"></i> Boton Quickstart</p>
    </a>
    <a class="ele-card">
      <p><i class="fas fa-qrcode"></i> Api</p>
    </a>
  </div>
</div>
