<h1 class="text-center  mb-2">Rentas </h1>
<div class="card-container">
    <div class="card-rentas d-block"  [routerLink]="['/comercio']">
        <h4>Comercio</h4>
        <img src="https://i.imgur.com/xs6sEO2.png" alt="">
    </div>
    <div class="card-rentas d-block"  [routerLink]="['/patente']">
        <h4>Patente</h4>
        <img src="https://i.imgur.com/4SEw6Zj.png" alt="">
    </div>
    <div class="card-rentas d-block" [routerLink]="['/inicio']">
        <h4>Cementerio</h4>
        <img src="https://i.imgur.com/WukQT4d.png" alt="">
    </div>
    <div class="card-rentas d-block"  [routerLink]="['/seguridadHigiene']">
        <h4>Seguridad e Higiene</h4>
        <img src="https://i.imgur.com/pb7ExTJ.png" alt="">
    </div>
</div>

